@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;700&display=swap');

// Colors
$primary-color: #ffc0cb;
$background-color: #fafafa;
$white-background-color: #fff;
$shadow-background: rgba(0, 0, 0, 0.05);
$text-color: #000;
$brand-hover-color: #ffc0cb;
$navbar-toggle-color: gray;

// Fonts
$font-family: 'Signika', sans-serif;
$font-size: 1rem;
$font-size-search: 0.875rem;

// Sizes
$sidebar-width: 230px;
$sidebar-collapse-width: 70px;

// Transitions
$transition-duration: 0.3s;