<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %> | Snapswift</title>
</head>
<body>
  <div class="wrapper">
    <sidebar-app id="sidebar" brandLogo="<%= brandName %>" pageType="addstory"></sidebar-app>
    <div class="content d-flex flex-column">
      <header class="header" id="header">
        <nav-app brandName="<%= brandName %>" pageType="addstory"></nav-app>
      </header>
      <hr class="mx-5">
      <main class="main" id="main">
        <div class="container-fluid">
          <div class="main-content px-3 py-4">
            <form id="addStoryForm" novalidate>
              <div class="d-flex flex-wrap flex-lg-nowrap">
                <input-image-preview
                  inputId="imageStory"
                  inputName="imageStory"
                  class="container-fluid text-center" 
                  required></input-image-preview>
                <div class="container-fluid">
                  <input-with-validation
                    type="text"
                    inputId="addressInput"
                    icon="bi-geo-alt-fill"
                    classes="mb-3 input-group"
                  ></input-with-validation>
                  <textarea-with-validation
                    inputId="descriptionStory"
                    inputName="descriptionStory"
                    rows="4"
                    required
                  ></textarea-with-validation>
                  <button-post></button-post>
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>
      <hr class="mx-5 mt-auto">
      <div class="px-4 pb-3">
        <footer-app ></footer-app>
      </div>
    </div>
  </div>
</body>
</html>