<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %> | Snapswift</title>
</head>
<body>
  <div class="wrapper">
    <sidebar-app id="sidebar" brandLogo="<%= brandName %>" pageType="dashboard"></sidebar-app>
    <div class="content">
      <header class="header" id="header">
        <nav-app brandName="<%= brandName %>" pageType="dashboard"></nav-app>
      </header>
      <hr class="mx-5">
      <main class="main" id="main">
        <div class="container">
          <div class="main-content">
            <div class="row">
              <div class="col-lg-8 col-md-12 col-sm-12 px-3">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 mx-auto mb-3">
                    <div class="container pl-5 pr-5">
                      <div id="card-container"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12 px-3 mb-3">
                <footer-app ></footer-app>
              </div>              
            </div>
          </div>
          <button-circle></button-circle>
        </div>
      </main>
    </div>
  </div>
</body>
</html>