<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Snapswift</title>
  </head>
  <body>
    <div class="jumbotron bg-dark text-white">
      <div class="container pt-5 pb-1">
        <div class="">
          <h1 class="display-4">Snapswift <i class="bi bi-app-indicator ms-2"></i></h1>
        </div>
        <hr class="my-4">
      </div>
    </div>
    <div class="container py-3">
      <div class="row">
        <div class="col-lg-8">
          <p class="lead">is an application designed to provide users with an engaging platform for creating, sharing, and exploring stories. Whether it's through captivating images and descriptions, SnapSwift aims to foster a creative space where users can express themselves and connect with a community of visual storytellers.</p>
          
          <p class="lead">
            <a class="btn btn-warning" href="#" role="button">Let's go<i class="bi bi-caret-right ms-2"></i></a>
          </p>
        </div>
        <div class="col-lg-4">
          <div class="text-center">
            <p>Rianirsyah Dian Nugrahanto</p>
          </div>              
        </div>
      </div>
    </div>
  </body>
</html>