@use '../abstracts/variables' as var;

.navbar-brand {
  display: none;
}

.search i {
  font-size: 16px;
  color: #777;
}

.search input {
  width: 400px;
  flex: 1;
  border: none;
  outline: none;
  font-size: var.$font-size-search;
  padding: 2.5px 15px;
}
